*.json
log4j.properties
log4j.xml
logback.xml
lib/jcl-over-slf4j-1.7.30.jar
lib/log4j-1.2.17.jar
lib/log4j-core-2.17.2.jar
lib/log4j-over-slf4j-1.7.30.jar
lib/logback-classic-1.3.8.jar
lib/logback-core-1.3.8.jar
lib/slf4j-api-1.7.30.jar
lib/slf4j-log4j12-1.7.30.jar
